@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


:root{
    --main-color:#1A0629;
    --secondary-color:#2c286d;
    --tetryary-color:#950042;
    --accent-1:yellow;
    --hover-txt:#ffa4c3;


    --main-color-50:hsla(274, 74%, 9%, 0.5);
    --main-color-60:hsla(274, 74%, 9%, 0.6);
    --main-color-70:rgba(25, 6, 40, 0.7);
    --accent-50:rgba(255, 255, 0, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    overflow-x: hidden;
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    background-image: url(../img/back2jbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* min-height: 60vh; */
}

.color-overlay{
    width: 100%;
    /* height: calc(100vh); */
    height: 100% !important;
    background-color: var(--main-color-70);
}

/*Utility classes  */

a:hover{
    color: var(--hover-txt);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main{
    min-height: calc(100vh - 55px - 55px - 30px - 36px - 55px ) !important;
    margin: 3rem 0; 
}

.height{
    height: 25rem;
}

.ml-15 {
    margin-left: 15px;
}

.ml-xl {
    margin-left: 300px;
}

.mr-xl {
    margin-right: 300px;
}

.mt-xl {
    margin-top: 3rem;
}

.m-xl {
    padding: 0 300px;
}

.highlight {
    color: var(--accent-1);
}

.logo-txt {
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--accent-1);
    margin-bottom: 1rem;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%; 
    /* height: 30rem; */
    height: 6.5rem;
}

.poruka{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    text-align: center;
    padding: 4px !important;
    width:100%; 
    height: 3.2rem;
    border-radius: 3px;
    opacity: .92;
}  
/*end of Utility classes  */

/* Start Login, Session */
/* .big-card{
    height: 35rem;
} */

.small-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 24rem;
    width: 22rem;
    background-color: var(--main-color);
    padding: 1.5rem;
    border-radius: 4px !important;
    opacity: .9;
    margin: 0 auto;
}

.small-card h2{
    margin-bottom: 0rem !important
}

.small-card form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 19rem;
    /* height: 9rem; */
    height: 50%;
    /* padding-bottom: 1rem; */
}

.small-card input, select {
    margin-bottom: 1rem !important;
    color: var(--secondary-color) !important;
    height: 34px;
    width: 100%;
    padding-left: 10px;
    border-radius: 3px;
    border: none;
    font-weight: 200;
    font-size: 14px;
    font-family: 'Readex Pro', sans-serif;
}


.big-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 42rem;
    width: 22rem;
    background-color: var(--main-color);
    padding: 1.5rem;
    border-radius: 4px !important;
    opacity: .9;
    margin: 0 auto;
}

/* .big-card h2{
    margin-bottom: 3rem;
} */

.big-card form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 19rem;
    height: 32rem;
}

.big-card .btn{
    width: 100%;
    height: 2.4rem;
    background-color: var(--secondary-color);
    border: none;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    /* margin-top: 2rem; */
}

.big-card textarea{
    color: #2c286d !important;
    height: 5rem;
    width: 100%;
    padding: 5px 10px!important;
    border-radius: 3px;
    border: none;
    font-weight: 200;
    font-size: 14px;
    font-family: 'Readex Pro', sans-serif;
}

.big-card input:focus,
.big-card textarea:focus{
    outline: none;
}

.big-card, .small-card .btn-login:hover {
    color: var(--hover-txt);
    /* transform: translateY(2px); */
    transform: scale(.99);
}

input[type="file"]{
    display:none;
}

.file-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #2c286d !important;
    height: 34px;
    width: 100%;
    padding-left:10px;
    border-radius: 3px;
    background-color: white;
    text-transform:none;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Readex Pro', sans-serif;
}

.file-input:hover{
    cursor: pointer;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 30rem;
    width: 22rem;
    background-color: var(--main-color);
    padding: 1.5rem;
    border-radius: 4px !important;
    opacity: .9;
}

.login-header{
    margin: auto 0;
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    height: 18rem;
}

.login input, .big-card input, select, option{
    color: #2c286d !important;
    height: 34px;
    width: 100%;
    padding-left: 10px;
    border-radius: 3px;
    border: none;
    font-weight: 200;
    font-size: 14px;
    font-family: 'Readex Pro', sans-serif;
}

.btn-login{
    width: 100%;
    height: 2.4rem;
    background-color: var(--secondary-color);
    border: none;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    /* margin-top: 2rem; */
}

.login .big-card .btn-login:hover{
    color: var(--hover-txt);
    /* transform: translateY(2px); */
    transform: scale(.99);
}

.login input:focus{
    outline: none;
}

.login .checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 34px;
}

.checkbox input{
   height: 1rem;
   width: 1rem;
}

.checkbox p{
    margin-left: 1rem;
}

.back-to-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.back-to-login h1{
    margin-bottom: 3rem;
}

.back-to-login a{
    text-decoration: underline;
    font-size: 1.5rem;
}

/* Start Search */
.search {
    display: flex;
    align-items: center;
    /* max-width: 30%; */
    width: 18rem;
    margin: 0px !important;
}

.search input{
    width: 15rem;
    border: none;
    height: 1.57rem;
    padding-left: 20px;
    border-radius: 0px 3px 3px 0px;
    color: #2c286d !important;
}

.search input:focus{
    outline: none;
}

.search button{
    border: none;
    width: 2.6rem;
    height: 1.6rem;
    background-color: var(--secondary-color);
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    /* border: 1px solid var(--secondary-color) !important; */
    border: none;
}

.search button ion-icon{
    font-size: 16px !important;
    padding-top: 3px;
    text-align: center;
}
/* End Search */

/* Session Info */
.session-nav {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 3.4rem;
    margin: 0 auto;
    background-color: var(--main-color);
}

.user-session{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.user-session-right{
    display: flex; 
    justify-content: flex-end;
    width: 30%;
}

.session-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 12px;
    width: 70%;
}

.session-info h2 {
    font-size: .85rem;
}

.session-info h3 {
    font-size: .8rem;
    font-style: italic;
    color: var(--accent-1);
}

.user-session img{
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
}
/* End Login, Session */


/* Nav */
nav {
    text-transform: uppercase;
}

.nav-main {
    width: 100%;
    height: 55px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1A0629;
    padding: 0 10%;
}

.main-middle{
    display: flex;
}

.middle ul {
    display: flex;
    margin: 0 auto;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 25px;
}

.desc:last-child {
    margin-left: 90px;
}

.middle li {
    font-size: 14px;
    margin-left: 5px;
}

.menu {
    height: 40px;
    width: 40px;
    display: none;
}
/* End of Nav */

/* Nav Sub */
.nav-sub {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background-color: #950042;
}

.nav-sub {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
}

.nav-sub ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.nav-sub a {
    margin-right: 12px;
}
/* End of Nav-Sub */


/* Start of hero section */
.main-section {
    margin-top: 25px;
    background: linear-gradient(to left, #4f1e56 0%, #9f459f 25%);
}

.hero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 280px;
}

.hero-container button {
    width: 140px;
    height: 40px;
    background-color: #FE81DF;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 15px -9px rgba(0, 0, 0, 0.747);
    transition: background-color 0.4s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
}

.hero-container button:hover {
    background-color: #c75dc7;
}

.hero img {
    width: 75%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: 100%;
}
/* End of Hero Section */

/* News section */
.wrapper {
    display: flex;
    justify-content: space-evenly;
}

.wrapper section {
    width: 75%;
}

.wrapper aside {
    width: 25%;
}

.news {
    display: flex;
    width: 100%;
}

.news-main {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    margin: 25px 15px 0 0;
}

.news-main img {
    width: 100%;
    z-index: 1;
}

.text {
    z-index: 2;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.news-new {
    text-transform: uppercase;
    margin: 25px 15px 0 0;
    width: 40%;
}

.news-new h1 {
    background-color: #9f459f;
    font-size: 14px;
    padding: 5px 10px;
    color: yellow;
}

.news-new-c h2 {
    text-transform: none;
    padding: 8px;
    font-size: 12px;
    background-color: #b47db475;
    margin-top: 3px;
    color: rgba(255, 255, 0, 0.527);
    font-weight: 300;
    border-left: 4px solid rgba(255, 255, 0, 0.527);
}

/* Aside section */

/* Asside 1 */
.aside-container {
    width: 100%;
    background-color: white;
    min-height: 420px;
    margin-top: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.aside-comercial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 15px 0;
}

.aside-comercial a {
    color: black;
    font-size: 14px;
    border-bottom: 1px solid black;
    width: 90px;
}

.aside-container img {
    width: 100%;
}

.aside-comercial h2 {
    color: black;
    /* margin: 10px 0 10px 0; */
}

/* Asside 2 */
.aside-container-2 {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    border: 5px solid #A30234;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.aside-comercial-link {
    text-align: center;
    padding: 5px 0px;
    background-color: #A30234;
}

.aside-comercial-link a {
    padding: 10px 40px;
    text-align: center;
    padding: 15px 15px 0 15px;
}

.aside-comercial-img-2 {
    padding: 15px 0;
    width: 100%;
}

/* end of Asside 2 */

/* Podcast Card */
.aside-container-podcast {
    height: 450px;
    margin-top: 15px;
    position: relative;
}

.podcast-top {
    height: 55%;
    background: linear-gradient(to right, #2c286d 0%, #701d85 100%);
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.podcast-top-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.radio-icon ion-icon {
    position: absolute;
    left: 50%;
    top: 48%;
    z-index: 4;
    padding: 6px;
    color: #4f1e56;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translatex(-50%);
}

.aside-container-podcast ion-icon:hover {
    cursor: pointer;
}

/* For JS */
#paused {
    display: none;
}

.podcast-bottom {
    background-color: rgb(221, 221, 221);
    height: 45%;
    border-radius: 0 0 30px 30px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.podcast-bottom-audio {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.podcast-bottom-audio p {
    padding: 5px;
    background-color: #4f1e56;
    border-radius: 3px;
    margin: 5px;
    font-size: 12px;
}

.podcast-bottom-share {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 60px 0 10px 0;
}

.podcast-bottom-share a {
    color: #4f1e56;
    font-size: 12px;
}

.podcast-top-desc img {
    width: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.podcast-top-desc h3 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
/* End of Podcast */
/* End of Aside section */


/* Grid container */
.grid-container {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 25px 16px 0 0;
    grid-gap: 16px;
}

.grid-content {
    height: 160px;
    position: relative;
    display: flex;
    flex-direction: column;

}

.grid-content-text {
    z-index: 3;
    padding: 15px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.grid-content-text h1 {
    font-size: 14px;
    z-index: 2;
}

.grid-content img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.grid-content-coments h3 {
    z-index: 5;
    color: #A30234;
    font-size: 12px;
    position: absolute;
    padding: 15px 19px;
    right: 0;
}

/* End of Grid Container */


/* Shop Start */
.aside-shop {
    width: 20%;
}

.grid-shop-container {
    width: 100%;
}

.shop-main{
    display: flex;
    justify-content: space-between;
    margin-top: 40px; 
}

.shop-menu{
    /* height: 50vh; */
    background-color: #950042;
    border-radius: 3px;
    padding: 1rem !important;
}

.shop{
    display: flex;
}

.shop a{
    padding-left: 10px;
    font-size: 14px;
}

.shop-menu li {
    padding: 5px 0;
}

.grid-shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.2rem;
}

.grid-shop-content {
    height: 300px;
    /* max-width: 300px; */
    display: flex;
    flex-direction: column;
    background-color: #4f1e56;
    border-radius: 3px;
    opacity: .9;
}

.grid-shop-content-img{
    width: 100%;
    height: 100%;
    position: relative;
}

.grid-shop-content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: .6rem;
}

.grid-shop-content-text {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 3.4rem;
}

/* Shop End */


/* Start Stranica za jedan Proizvod */
.proizvod{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.proizvod-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px !important;
    height: 36rem;
    width: 28rem;
    padding: 20px;
    background-color: var(--secondary-color);
    opacity: .9;
    border-radius: 3px;
}

/* .proizvod-card-info {
    display: flex;
    height: 32rem;
} */

.proizvod-card-info  input{
    height: 1.5rem;
    width: 3rem;
    margin-top: .2rem;
    color: var(--main-color);
    padding-left: .5rem;
}

.proizvod-card-info  input:focus{
    border: none;
    outline: none;
}

.proizvod-card .btn-order{
    /* margin-top: 1rem; */
    width: 100%;
    height: 2.4rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--tetryary-color);
}

.proizvod-card .btn-order:hover{
    color: var(--hover-txt);
    transform: scale(.99);
}

.images{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--secondary-color);
    opacity: .9;
    border-radius: 3px;
}

.images-big {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    padding: 20px 20px 0 20px;
}

.images-big img{
    width: 26rem;
    height: 26rem;
    overflow: hidden !important;

}

.images-small{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 28rem !important;
    height: 8rem !important;
    padding: 20px;
    overflow: hidden !important;
}

.images-small img{
    padding-right: 8px;
}

.images-small img:last-child{
    padding-right: 0 !important;
}


/* End Stranica za jedan Proizvod */


/* Start of Dashboard */
.single-card{
    display: flex;
    justify-content: flex-start;
    /* margin-top: 40px;  */
}

.main-dashboard{
    height: 26rem;
    margin: 3rem 0;
}

.content-dash{
    background-color: rgba(0, 0, 0, .7);
    padding: .8rem;
    min-height: 25rem;
    border-radius: 3px;
}

.content-dash-1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 23rem;
    padding: 1rem;
}

.stats-view {
    margin-bottom: 3rem;
}

/* End of Dashboard */

.single-card form {
    width: 100%;
}


/* Footer */
footer {
    height: 55px;
    position: relative;
    bottom: 0;
    background-color: #1A0629;
    /* margin-top: 3.4rem; */
    width: 100%;
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials a {
    margin: 5px;
}



/* Mobile */
@media  (max-width:1240px) {

    .container{
        width: 84%;
        /* margin: 0 auto; */
        /* padding: 10px; */
    }

    .nav-main{
        justify-content: space-between;
        padding: 0 8%;
    }

    .middle{
        display: none;
    }

    .menu {
        height: 40px;
        width: 40px;
        display: block;
        cursor: pointer;
        padding-left: 10px;
    }

    .shop {
       display: flex;
       align-items: center;
       justify-content: flex-end;
       width: 250px;
    }

    .aside-shop {
        width: 25%;
    }

    .shop-menu{
       left: 8%;
    }

    .user-session-right{
        width: 50%;
    }

    .grid-shop {
        grid-template-columns: repeat(3, 1fr);
        grid-gap:1.6rem;
    }

}

@media  (max-width:800px){

    .main{
        min-height: calc(100vh - 55px - 55px - 80px) ;
    }

    .nav-sub {
        height: 40px;
    }

    .shop-menu{
        height: calc(100vh - 370px);
    }

    .search {
        width: 14rem;
    }

    .grid-shop {
        grid-template-columns: repeat(2, 1fr);
        grid-gap:1.2rem;
    }


}

@media  (max-width:600px){

    body::-webkit-scrollbar {
    display: none;
    }
  
    body {
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
    
    .container{
        width: 100%;
        padding: 0 10px;
    }

    .nav-main{
        padding: 0 10px!important;
    }

    .aside-shop {
        width: 0%;
    }

    .shop-menu{
        position: absolute;
        left: 0px !important;
        border-radius: 0px;
        width: 100%;
        opacity: .96;
        height: calc(100vh - 35px);
        /* height: 100vh; */
        z-index: 1000;
        display: none;
    }

    .shop-main{
        justify-content: center;
    }

    .nav-sub{
        display: none;
    }

    .main{
        min-height: calc(100vh - 55px - 55px - 40px) ;
    }


    .grid-shop {
        grid-gap: 1rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    .shop-menu li {
        padding: 15px 0;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
    }

    .search {
        width: 14rem;
        padding-left: 0!important;
    }

    .user-session{
        overflow: hidden !important;
    }

    .user-session-right{
        width: 50%;
    }

    .session-info{
        display: none;
    }

    footer .right{
        display: none;
    }

    footer .footer{
        display: flex;
        justify-content: space-evenly;
    }

 

}